.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.toggle-timeline-button {
  position: absolute;
  top: -24px;
  left: 2px;
}

.confidence-filter {
  flex-basis: 400px;
}

.swap-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.selection-menu-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
