.input-box {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  padding: 0 6px;
  color: white;
}

.trackNumber {
  font-family: monospace;
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
  }
}