# Playbook that updates the current instance

- hosts: localhost
  vars:
    # Required to use docker_compose properly
    ansible_python_interpreter: /usr/bin/python3
  vars_files:
      - ".vars.yml"
  tasks:
    - name: Pull Changes
      shell: git pull
      args:
        chdir: "{{ project_directory }}"

    - name: Pull Latest Viame Docker Image
      docker_image:
        name: kitware/viame:gpu-algorithms-latest
        source: pull
        force_source: yes

    - name: Build Service
      ignore_errors: yes
      register: build
      docker_compose:
        project_src: "{{ project_directory }}/docker"
        build: yes
        state: present

    - name: Send email on build failure
      ignore_errors: yes
      when: build.failed
      mail:
        from: "{{ deploy_email_address }}"
        to: "{{ notify_email_address  }}"
        subject: Failed Build of Viame-Web
        body: |
          Captured stdout:
          {{ build.module_stdout  }}

          Captured stderr:
          {{ build.module_stderr  }}

    - name: Stop Service
      when: not build.failed and build.changed
      docker_compose:
        project_src: "{{ project_directory }}/docker"
        state: absent

      # Necessary so that the old pipelines data doesn't overwrite any changes
    - name: Remove pipelines volume
      when: not build.failed and build.changed
      docker_volume:
        name: docker_pipelines
        state: absent

    - name: Start Service
      docker_compose:
        project_src: "{{ project_directory }}/docker"
        state: present
