[Unit]
Description=Run the Viame deploy every Sunday and Thursday at 2 AM

[Timer]
OnCalendar=Sun 02:00 America/New_York

[Install]
WantedBy=timers.target
