.video-annotator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;

  display: flex;
  flex-direction: column;

  .playback-container {
    flex: 1;

    &.geojs-map:focus {
      outline: none;
    }
  }
  .loadingSpinnerContainer {
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .geojs-map.annotation-input {
    cursor: inherit;
  }

}

