[tool.black]
line-length = 88
skip-string-normalization = true
target-version = ['py37']
exclude='\.eggs|\.git|\.mypy_cache|\.tox|\.venv|_build|buck-out|build|dist|venv'

[tool.isort]
line_length = 88
use_parentheses = true
include_trailing_comma = true
multi_line_output = 3
skip = "venv/**/*"
