---
- name: Install VIAME Worker with Nvidia Docker
  hosts: all
  become: yes
  vars:
    run_worker_container: no
    run_server: no
    run_viame_cli: no
    viame_bundle_url: https://viame.kitware.com/api/v1/item/60b2fbaed3ee6142d91c8351/download
    DIVE_USERNAME: ''
    DIVE_PASSWORD: ''
    WORKER_CONCURRENCY: '2'
    KWIVER_DEFAULT_LOG_LEVEL: 'warn'
    DIVE_API_URL: 'https://viame.kitware.com/api/v1'

  roles:
    - role: geerlingguy.docker
      when: run_worker_container or run_server | bool
    - role: nvidia.nvidia_driver
    - role: nvidia.nvidia_docker
      when: run_worker_container or run_server | bool

  tasks:

    - name: Git Clone DIVE
      git:
        repo: https://github.com/Kitware/dive
        dest: /tmp/dive

    - name: Download VIAME
      when: run_worker_container or run_viame_cli | bool
      get_url:
        url: '{{ viame_bundle_url }}'
        dest: /tmp/VIAME.tar.gz
        mode: u=r,g=r,o=r

    - name: Ensure /opt/noaa
      when: run_worker_container or run_viame_cli | bool
      file:
        path: /opt/noaa
        state: directory

    - name: Extract VIAME
      when: run_worker_container or run_viame_cli | bool
      ansible.builtin.unarchive:
        remote_src: yes
        src: /tmp/VIAME.tar.gz
        dest: /opt/noaa

    - name: Install addons
      when: run_worker_container or run_viame_cli | bool
      shell: "source /opt/noaa/viame/setup_viame.sh && /opt/noaa/viame/bin/download_viame_addons.sh"
      args:
        executable: /bin/bash

    - name: Install Python 3
      apt:
        name: python3-pip

    - name: Install Docker SDK for Python 3
      pip:
        name: "docker" 

    - name: Restart docker daemon for config changes
      ansible.builtin.systemd:
        state: restarted
        name: docker

    - name: Start worker container
      when: run_worker_container | bool
      vars:
        ansible_python_interpreter: /bin/python3
      docker_container:
        name: worker
        image: kitware/viame-worker
        runtime: nvidia
        ipc_mode: host
        restart_policy: unless-stopped
        volumes:
          - /opt/noaa/viame/configs/pipelines:/tmp/addons/extracted/configs/pipelines:ro
        env:
          DIVE_USERNAME: '{{ DIVE_USERNAME }}'
          DIVE_PASSWORD: '{{ DIVE_PASSWORD }}'
          WORKER_CONCURRENCY: '{{ WORKER_CONCURRENCY }}'
          KWIVER_DEFAULT_LOG_LEVEL: '{{ KWIVER_DEFAULT_LOG_LEVEL }}'
          DIVE_API_URL: '{{ DIVE_API_URL }}'
