name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build-and-test:
    defaults:
      run:
        working-directory: client
    name: Client Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: yarn install --frozen-lockfile
    - run: yarn lint
    - run: yarn lint:templates
    - run: yarn test
    - run: yarn build:web
    - run: yarn build:lib
    - run: yarn build:electron

  test-server:
    defaults:
      run:
        working-directory: server
    name: Server Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip;
        pip install .;
        pip install -r dev-requirements.txt;
    - name: Test with pytest
      run: pytest tests/
    - name: Lint with black
      run: black --check .
    - name: Check import linting with isort
      run: isort --check .
    - name: Check mypy
      run: mypy .
