name: CI
on: [push, pull_request]
jobs:
  build:
    defaults:
      run:
        working-directory: client
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - run: yarn install
    - run: yarn lint
